# Entornos virtuales
.venv/
venv/
env/
ENV/

# Python (Caché y compilados)
__pycache__/
*.py[cod]
*$py.class

# Datos (Dataset de Kaggle y archivos pesados)
*.csv
*.json
*.xlsx
data/
outputs/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Variables de entorno
.env
